@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,600';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table,
tbody {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: block;
  border: none;
  margin: 0px;
  padding: 0px;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #a15c08;
}
h1,
h2 {
  padding: 0px;
  margin: 0px 0px 10px 0px;
}
.layout {
  width: 920px;
  margin: 20px auto;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 320px) and (max-width: 639px) and (orientation:portrait)  {
  .layout {
    width: 100%;
    margin: 0px auto;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
  }
}
.layout table td {
  position: relative;
}
.layout table td .over {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0px;
  left: 0px;
  font-size: 28px;
}
.layout table td .over.names h1 {
  font-size: 100%;
  margin-bottom: 10px;
  color: #a15c08;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 639px) and (orientation:portrait)  {
  .layout table td .over.names h1 {
    font-size: 70%;
  }
}
.layout table td .over.names p {
  text-align: center;
  color: #c19937;
  margin-bottom: 10px;
  font-size: 90%;
}
@media only screen and (min-width: 320px) and (max-width: 639px) and (orientation:portrait)  {
  .layout table td .over.names p {
    font-size: 70%;
  }
}
.layout table td .over.info {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-align: center;
  font-size: 26px;
  padding-top: 80px;
}
@media only screen and (min-width: 320px) and (max-width: 639px) and (orientation:portrait)  {
  .layout table td .over.info {
    padding-top: 40px;
  }
}
.layout table td .over.info h1,
.layout table td .over.info h2 {
  font-size: 26px;
}
@media only screen and (min-width: 320px) and (max-width: 639px) and (orientation:portrait)  {
  .layout table td .over.info h1,
  .layout table td .over.info h2 {
    font-size: 70%;
  }
}
.layout table td .over.info h1 {
  color: #a15c08;
  font-weight: 700;
}
.layout table td .over.info h2 {
  color: #c19937;
  margin: 0px;
}
.layout table td .over.copy {
  padding-top: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-align: center;
  font-size: 14px;
}
@media only screen and (min-width: 320px) and (max-width: 639px) and (orientation:portrait)  {
  .layout table td .over.copy {
    font-size: 80%;
  }
}
.layout table img {
  width: 100%;
  height: auto;
}
