@import 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,600';
@import 'mixins';
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content: none; }
table, tbody { border-collapse: collapse; border-spacing: 0; }
img { display: block; border: none; margin: 0px; padding: 0px; }


body, html {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: @primary;
}
@primary: #A15C08;
@secondary: #C19937;

h1, h2 {
	padding: 0px;
	margin: 0px 0px 10px 0px;
}
.layout {
	width: 920px;
	margin: 20px auto;
	.shadow(0px 10px 10px rgba(0,0,0,0.5));
	@media @mobile {
		width: 100%;
		margin: 0px auto;
		.shadow(none);
	}
	table {
		td {
			position: relative;
			.over {
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;
				top: 0px;
				left: 0px;
				font-size: 28px;
				&.names {
					h1 {
						font-size: 100%;
						margin-bottom: 10px;
						color: @primary;
						font-weight: 700;
						text-transform: uppercase;
						text-align: center;
						@media @mobile { font-size: 70%; }
					}
					p {
						text-align: center;
						color: @secondary;
						margin-bottom: 10px;
						font-size: 90%;
						@media @mobile { font-size: 70%; }
					}

				}
				&.info {
					.box;
					text-align: center;
					font-size: 26px;
					padding-top: 80px;
					@media @mobile { padding-top: 40px; }
					h1, h2 {
						font-size: 26px;
						@media @mobile {
							font-size: 70%;
						}
					}
					h1 {
						color: @primary;
						font-weight: 700;
					}
					h2 {
						color: @secondary;
						margin: 0px;
					}
				}
				&.copy {
					padding-top: 10px;
					.box;
					text-align: center;
					font-size: 14px;
					@media @mobile {
						font-size: 80%;
					}
				}
			}
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}