

// QUERIES

	@highdensity:     ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
	~"only screen and (min--moz-device-pixel-ratio: 1.5)",
	~"only screen and (-o-min-device-pixel-ratio: 3/2)",
	~"only screen and (min-device-pixel-ratio: 1.5)";

	@mobilew:	~"only screen and (min-width: 640px) and (max-width: 840px)"; // " and (orientation:landscape)"; 
	@mobile:	~"only screen and (min-width: 320px) and (max-width: 639px) and (orientation:portrait) "; 
	@ipad:		~"only screen and (min-width : 768px) and (max-width : 1024px)";


// MIXINS

.zero() {
	padding: 0px;
	margin: 0px;
	border:none;
}
.box(){
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.animate(@attributes){
	-webkit-transition: @attributes;
	-moz-transition: @attributes;
	-o-transition: @attributes;
	transition: @attributes;
}
.hex(@color, @opacity : 1){
  @rgba: rgba( red(@color), green(@color), blue(@color), @opacity );
}
.shadow(@arguments){
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    -o-box-shadow: @arguments;
}
.round(@radius: 0px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
 }
 .roundtop(@radius: 0px) {
	 -webkit-border-top-left-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-topright: @radius;
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
}
 .rounddown(@radius: 0px) {
	-webkit-border-bottom-right-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-right-radius: @radius;
	border-bottom-left-radius: @radius;
}
.roundleft(@radius: 0px){
	-webkit-border-top-left-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: @radius;
	border-bottom-left-radius: @radius;
}
.roundright(@radius: 0px){
	-webkit-border-top-right-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	-moz-border-radius-bottomright: @radius;
	border-top-right-radius: @radius;
	border-bottom-right-radius: @radius;
}
.roundtopright(@radius: 0px){
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	border-top-right-radius: @radius;
}
.roundbottomright(@radius: 0px){
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	border-bottom-right-radius: @radius;
}