doctype html
html
  head
    meta(charset='UTF-8')
    title Documento sin t&iacute;tulo
    script(type="text/javascript").
      // window.open('modal.html', '_new');
  body
    h1 Main window
    a(href='#', onclick="javascript:window.open('modal.html', '_new');") Link