doctype html
html
	head
		meta(charset='UTF-8')
		title Modal
		script(type="text/javascript", src='http://code.jquery.com/jquery-1.11.3.min.js')
		script(type="text/javascript").
			setTimeout(function(){
				window.close();
			}, 1000);
		script(type="text/javascript").
			//window.close();
	body
		h1 Segunda ventana